@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON STYLES */
html {
  scroll-behavior: smooth;
}

body {
  @apply relative bg-slate-50 font-sans font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply mt-0;
}

b {
  @apply font-bold text-slate-600;
}

blockquote {
  font-style: normal !important;
  quotes: none !important;
  border-left: none !important;
  font-weight: inherit !important;
}

blockquote {
  @apply m-0 rounded-[20px] bg-blue-200;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HERO */
.hero {
  background-position: center bottom;
  background-image: url('/img/hero/hero-320.svg');
  background-size: 310px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: url('/img/hero/hero-480.svg');
    background-size: 455px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url('/img/hero/hero-768.svg');
    background-size: 736px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-position: center bottom;
    background-image: url('/img/hero/hero-1280.svg');
    background-size: 1148px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: url('/img/hero/hero-1440.svg');
    background-size: 1436px;
    background-position: center bottom -48px;
  }
}

/* MOBILE MENU */
.mobileMenu {
  background-position: center bottom;
  background-image: url('/img/mobile/mobile-320.svg');
  background-size: 286px;
  background-repeat: no-repeat;
}

/* FORM BUTTON */
.container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}
