@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON STYLES */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 font-sans font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply mt-0;
}

b {
  @apply font-bold text-slate-600;
}

blockquote {
  font-style: normal !important;
  quotes: none !important;
  border-left: none !important;
  font-weight: inherit !important;
}

blockquote {
  @apply m-0 rounded-[20px] bg-blue-200;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* FORM BUTTON */

.btn {
  border: 1px solid #fef08a;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 280px;
  height: 56px;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 0%;
  top: 0;
  transition: 0.8s;
  border-radius: 0% 0% 50% 0%;
  background-color: #73a9ff;
  z-index: -1;
}

.btn:hover::after {
  height: 180%;
  bottom: 0;
  border-radius: 0% 0% 90% 0%;
}

.container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form button {
  margin-top: 52px;
  height: 40px;
  cursor: pointer;
  color: #475569;
  background-color: #fef08a;
  border: 0px;
  transition: 0.5s;
}

@media screen and (min-width: 480px) {
  .form button {
    margin-top: 40px;
  }
}

button:hover {
  filter: brightness(100%);
}

/* SEARCH */

.searchform {
  display: inline;
  font-size: 1em;
  border-radius: 1em;
  border: 0.1em solid rgb(190, 196, 218);
  padding: 0.3em;
  background: white;
  height: 44px;
  border-radius: 6px;
}

#search {
  transition: all 0.2s ease-out;
  width: 18rem;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  opacity: 0;
}

input {
  text-indent: 90px;
}

  #search:focus {
    width: 18rem;
    opacity: 1;
  }
  input {
    text-indent: 30px;
  }
  
@media (min-width: 1280px) {
  #search:focus {
    width: 500px;
    opacity: 1;
  }
  input {
    text-indent: 30px;
  }
  }




